<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-web-mvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_web_mvc_war_exploded.war</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="scheduler/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="scheduler" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.1.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-simple:1.7.5" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.5" />
          <element id="library" level="project" name="Maven: org.freemarker:freemarker:2.3.29" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-annotations-api:9.0.30" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:9.0.30" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>